{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %} | Login {% endblock title %}

{% block content %}

	<div class="container mt-5">
	    <div class="row justify-content-center">
	        <div class="col-md-6">
	            <!-- The rounded div wrapper -->
	            <div class="p-4 border rounded shadow-sm">
	                <h3 class="mb-4">Login to your Magis Air account </h3>
					<form method="POST">
						{% csrf_token %}
						{% bootstrap_form form set_placeholder=False %}
						<button type="submit" class="btn btn-secondary">Login</button>   
					</form>	
					
					<br><a href="{% url 'password_reset' %}"> Forgot your password? </a>
					<br> Don't have an account? <a href="{% url 'passenger:signup' %}"> Sign up </a>
	            </div>
	        </div>
	    </div>
	</div>
	
{% endblock %}



